<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Three JS Test</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.4.2.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>

</head>
<body>
  <div id="stage"></div>
    <script type="text/javascript" src="{{url_for('static', filename='js/d3.v5.min.js')}}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    const namespace = '/chase';
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);


    var svg = d3.select("#stage").append("svg:svg").attr('width', {{stage_width}}).attr('height', {{stage_height}});
    var coyote = svg.append("circle").attr("cx", {{stage_width/2}}).attr("cy", {{stage_height/2}}).attr("r", 25).style("fill", "purple");
    var road_runner = svg.append("circle").attr("cx", {{stage_width/4}}).attr("cy", {{stage_height/4}}).attr("r", 25).style("fill", "brown");

    socket.on('road_runner_position', function(pos) {
        console.log(pos);
        road_runner.attr('cx', pos.x);
        road_runner.attr('cy', pos.y);
    });
  });
  </script>
</body>
</html>
